
.divContainer{
  display: flex;
  align-items: center;
  height: 80px;
 /*  border: red solid 1px */
}
.p{
  height: 60px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 30px;
  font-weight: 600;
}
.reactSwitchCheckbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .reactSwitchLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 160px;
    height: 60px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
  }
  
  .reactSwitchLabel .reactSwitchButton {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 80px;
    height: 50px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
  }
  
  .reactSwitchCheckbox:checked + .reactSwitchLabel .reactSwitchButton {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  .reactSwitchLabel:active .reactSwitchButton {
    width: 60px;
  }
