.divContainer {
  height: 65vw;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 6px;
}
.reactSwitchCheckbox {
  height:0;
  width: 0;
  visibility: hidden;
}

.reactSwitchLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 200px;
  height: 70px;
  background: #f5f5f5;
  border: #494d5f solid 3px;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.reactSwitchLabel .reactSwitchButton {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 100px;
  height: 60px;
  border-radius: 45px;
  transition: 0.3s;
  background: #4365d6;
  color: #f5f5f5;
  border: #494d5f solid 1px;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.reactSwitchCheckbox:checked + .reactSwitchLabel .reactSwitchButton {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.reactSwitchLabel:active .reactSwitchButton {
  width: 60px;
}

@media screen and (min-width: 1000px) {
  .divContainer{
    flex-direction: row;
    height:80px ; 
    margin-bottom: 25px;
  }
  .p{
    width: 20%;
    margin-bottom: 0px;
    margin-top: 0%;
  }
}
@media screen and (min-width: 1800px) {
  .p{
    font-size: 4rem;
  }
  .reactSwitchLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 240px;
    height: 84px;
    background: #f5f5f5;
    border: #494d5f solid 3px;
    border-radius: 100px;
    position: relative;
    transition: background-color 0.2s;
  }
  
  .reactSwitchLabel .reactSwitchButton {
    content: "";
    position: absolute;
    top: 4px;
    left: 5px;
    width: 120px;
    height: 72px;
    border-radius: 70px;
    transition: 0.3s;
    background: #4365d6;
    color: #f5f5f5;
    border: #494d5f solid 2px;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
}
/* @media screen and (max-width: 340px) and (max-height: 600px) {
  .divContainer {
    display: flex;
    flex-direction: column;
    height: 43vh;
    width: 90%;
  }
  .p {
    height: 15%;
  }
}
@media screen and (max-width: 340px) and (max-height: 500px) {
  .divContainer {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 90%;
  }
  .p {
    height: 15%;
  }
}
@media screen and (min-width: 350px) and (max-width: 400px) and (max-height: 700px) {
  .divContainer {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 90%;
    align-items:center;
  }
  .p {
    height: 50%;
  }
  .reactSwitchLabel{
    height: 110px;
  }
} */
