.divContainer {
  display: flex;
  flex-direction: column;
  height: 380vw;
  align-items: center;

}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  font-size: 1rem;
  font-weight: 400;
  padding: 13px;
  border: rgb(121, 121, 121) solid 2px;
}
.divCards {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div {
  height: 30%;
  margin: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: rgb(121, 121, 121) solid 2px;
}

.img1 {
  height: 30vw;
  margin-bottom: 1rem;
  width: 70%;
  background-image: url("../../assets/responsive.png");
  background-size: cover;
}
.hr {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.img2 {
  height: 30vw;
  margin-bottom: 1rem;
  width: 70%;
  background-image: url("../../assets/interactive.png");
  background-size: cover;
}
.img3 {
  height: 30vw;
  margin-bottom: 1rem;
  width: 70%;
  background-image: url("../../assets/prototyping.png");
  background-size: cover;
}
.p {
  width: 80%;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 1.2rem;
  font-weight: 500;
}
.text {
  height: 100px;
  width: 80%;
  text-align: center;
}
@media screen and (min-width: 325px) and (max-width: 440px) {
  .divContainer {
    height: 1100px;
  }
  .title {
    width: 74%;
  }
}

@media screen and (min-width: 1000px) {
  .divContainer {
    height: 40vw;
    justify-content: start;
  }
  .title {
    width: 96%;
    font-size: 1.5rem;
  }
  .div {
    height: 85%;
  }
  .divCards {
    flex-direction: row;
    width: 100%;
  }
  .p {
    font-size: 1.2rem;
  }
  .img1,
  .img2,
  .img3 {
    height: 200px;
    width: 100%;
  }
  .text {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1800px) {
  .divContainer {
    height: 40vw;
  }
  .title {
    width: 96.3%;
    font-size: 2rem;
    padding: 18px;
    border: rgb(121, 121, 121) solid 3px;
  }
  .div {
    border: rgb(121, 121, 121) solid 3px;
  }
  .p {
    font-size: 1.8rem;
  }
  .img1,
  .img2,
  .img3 {
    height: 300px;
    width: 100%;
  }
  .text {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 340px) {
  .divContainer {
    height: 370vw;
  }
}

.tracking {
  -webkit-animation: tracking 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
