:root {
  background-color: #f5f5f5;
  font-family: "brandon-grotesque", Arial, Helvetica, sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.sectionWelcome {
  height: 50vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4vw;
  margin-bottom: 10vw;
}
.hello {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  font-size: 2.3rem;
  font-weight: 500;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  margin: 5px;
}
.name {
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  font-size: 3.5rem;
  font-weight: 500;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  margin: 5px;
}
.job {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  font-size: 1.8rem;
  color: #587ffc;
  -webkit-text-stroke: 0.7px #1e1e5d;
  margin: 5px;
}
.sectionTech {
  width: 100%;
  height: 190vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionAbout {
  height: 220vw;
  margin-top: 10px;
}
.sectionComments {
  width: 100%;
  height: 80vh;
  margin-bottom: 40px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  font-weight: bold;
  height: 35%;
  width: 160px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.link {
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Bebas Neue", cursive;
}
.contact {
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}


@media screen and (min-width: 340px) {
  .sectionAbout {
    height: 195vw;
    margin-bottom: 0px;
  }
  .sectionTech {
    margin-top: 25px;
  }
}
@media screen and (min-width: 370px) {
  .hello {
    font-size: 2.6rem;
  }
  .name {
    font-size: 4.2rem;
  }
  .job {
    font-size: 2.2rem;
  }
  .sectionTech {
    height: 170vw;
  }
  .sectionAbout {
    height: 180vw;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 390px) {
  .sectionAbout {
    height: 170vw;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1000px) {
  .sectionWelcome {
    height: 67vh;
  }
  .hello {
    font-size: 7rem;
  }
  .name {
    font-size: 11rem;
    margin: 1rem;
  }
  .job {
    font-size: 5rem;
    -webkit-text-stroke: 3px #1e1e5d;
  }
  .sectionTech{
    height: 50vh;
  }
  .sectionAbout {
    height: 70vh;
    align-items: center;
  }
  .sectionComments{
    height: 55vh;
  }
  .link {
    font-size: 1.5rem;
  }

}
@media screen and (min-width: 1800px) {
  .hello {
    font-size: 8rem;
  }
  .name {
    font-size: 15rem;
    margin: 1.5rem;
  }
  .job {
    font-size: 7rem;
    -webkit-text-stroke: 3px #1e1e5d;
  }
  .sectionTech{
    height: 20vw;
  }
}

.tracking {
  -webkit-animation: tracking 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
