:root {
  background-color: #f5f5f5;
  font-family: "brandon-grotesque", Arial, Helvetica, sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.sectionWelcome {
  height: 50vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4vw;
  margin-bottom: 10vw;
}
.hello {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  font-size: 2.3rem;
  font-weight: 500;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  margin: 5px;
}
.name {
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  font-size: 3.5rem;
  font-weight: 500;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  margin: 5px;
}
.job {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  font-size: 1.8rem;
  color: #587ffc;
  -webkit-text-stroke: 0.7px #1e1e5d;
  margin: 5px;
}
.sectionName {
  height: 30vw;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-bottom: 2rem;
}
.sectionTech {
  width: 100%;
  height: 220vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionAbout {
  height: 210vw;
  margin-top: 20px;
}
.sectionComments {
  width: 100%;
  height: 80vh;
  margin-bottom: 30px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  font-weight: bold;
  height: 35%;
  width: 160px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.link {
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.contact {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}


@media screen and (min-width: 330px) {
  .sectionAbout {
    height: 200vw;
    margin-bottom: 0px;
  }
  .sectionTech {
    margin-top: 25px;
  }
}
@media screen and (min-width: 370px) {
  .hello {
    font-size: 2.6rem;
  }
  .name {
    font-size: 4.2rem;
  }
  .job {
    font-size: 2.2rem;
  }
  .sectionTech {
    height: 170vw;
  }
  .sectionAbout {
    height: 163vw;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1000px) {
  .sectionWelcome {
    height: 67vh;
  }
  .hello {
    font-size: 7rem;
  }
  .name {
    font-size: 11rem;
    margin: 1rem;
  }
  .job {
    font-size: 5rem;
    -webkit-text-stroke: 3px #1e1e5d;
  }
  .sectionTech{
    height: 50vh;
  }
  .sectionAbout {
    height: 70vh;
    align-items: center;
  }
  .sectionComments{
    height: 55vh;
  }

}
@media screen and (min-width: 1800px) {
  .hello {
    font-size: 8rem;
  }
  .name {
    font-size: 15rem;
    margin: 1.5rem;
  }
  .job {
    font-size: 7rem;
    -webkit-text-stroke: 3px #1e1e5d;
  }
}

.sectionTech{
  height: 20vw;
}
/* .sectionWelcome {
  background-color: transparent;
  height: 15vh;
  width: 30%;
  display: flex;
  justify-content: center;
  margin-left: 35%;
  margin-top: 3%;
}

.link {
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.sectionName {
  background-color: transparent;
  height: 30vh;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-top: 0rem;
  margin-bottom: 2rem;
}
.sectionJob {
  background-color: transparent;
  width: 100%;
  height: 33vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.sectionSkills {
  margin-top: 3%;
  margin-bottom: 10%;
  height: 400px;
  display: flex;
  justify-content: center;
}
.sectionTech {
  background-color: transparent;
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
}
.sectionAbout {
  height: 55vh;
  margin-bottom: 11rem;
}

.hello {
  font-family: "Bebas Neue", cursive;
  font-size: 5.5rem;
  font-weight: 500;
  margin: 0;
  margin-right: 0.5rem;
}

.rodrigo {
  font-family: "Bebas Neue", cursive;
  font-size: 10rem;
  margin: 1.5rem;
}

.juarez {
  font-family: "Londrina Outline", cursive;
  font-weight: 600;
  font-size: 7rem;
  margin: 1.8rem;
}
.full {
  font-family: "Bebas Neue", cursive;
  font-size: 4.5rem;
  margin: 1rem 0.5rem auto 1rem;
  display: flex;
  justify-content: center;
  color: #587ffc;
  -webkit-text-stroke: 2px #1e1e5d;
}
.stack {
  font-family: "Black Ops One", cursive;
  font-size: 5.5rem;
  margin: 2.5rem 0.5rem auto 1rem;
}
.developer {
  font-family: "Bungee Shade", cursive;
  font-size: 6.5rem;
  margin: 0 0.5rem auto 1rem;
  font-weight: bold;
}
.contact {
  margin-top: 0;
  margin-bottom: 0%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.excentrico {
  font-weight: bold;
  height: 35%;
  width: 160px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
*/
.tracking {
  -webkit-animation: tracking 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* @media screen and (max-width: 540px) {
  .sectionAbout {
    height: 120vh;
    margin-bottom: 3rem;
  }
  .sectionJob {
    flex-direction: column;
    width: 100%;
    margin-bottom: 5rem;
  }
  .sectionName {
    height: 12vh;
    align-items: center;
    margin-bottom: 1rem;
  }

  .sectionWelcome {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    width: 80%;
    height: 8vh;
    margin: 0%;
    margin-left: 10%;
    margin-top: 10%;
  }

  .sectionSkills {
    flex-direction: column;
    margin-top: 0%;
    width: 100%;
    height: 40%;
    margin-bottom: 220%;
  }
  .sectionTech {
    height: 90vh;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .sectionAbout {
    margin-bottom: 4rem;
  }
  .sectionComments {
    height: 80vh;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .hello {
    font-size: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.7rem;
  }
  .rodrigo,
  .juarez {
    font-size: 2.2rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .juarez {
    font-size: 3rem;
  }
  .full {
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    -webkit-text-stroke: 0px #494d5f;
    width: 100%;
  }
  .stack {
    font-size: 4rem;
    margin: 0;
  }
  .developer {
    font-size: 3rem;
    height: 12vh;
    margin: 0%;
  }
}

@media screen and (max-width: 340px) and (max-height: 600px) {
  .sectionWelcome {
    height: 10vh;
    margin-top: 0%;
  }
  .hello {
    font-size: 2.5rem;
    margin-top: 0%;
    margin-bottom: 10%;
  }
  .sectionName {
    width: 100%;
    margin-block-start: 0px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-bottom: 0px;
  }
  .rodrigo {
    font-size: 3.2rem;
  }
  .juarez {
    font-size: 3rem;
    margin: 0%;
    margin-left: 5px;
  }
  .full {
    font-size: 1.8rem;
    margin-top: -45%;
    -webkit-text-stroke: 0.1px #1e1e5d;
  }
  .stack {
    font-size: 3rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-bottom: 0px;
  }
  .developer {
    font-size: 2.5rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-top: -7%;
  }
  .sectionJob {
    height: 40vh;
  }
  .sectionSkills {
    margin-top: -50%;
  }
  .sectionTech {
    height: 180%;
    margin-bottom: 25%;
  }
  .sectionComments {
    height: 40vh;
  }
  .contact {
    height: 30vh;
    margin-top: 50%;
  }
}

@media screen and (max-width: 340px) and (max-height: 500px) {
  .contact {
    height: 30vh;
    margin-top: 45%;
  }
  .sectionSkills {
    margin-top: -40%;
    margin-bottom: 220%;
  }
  .sectionTech {
    margin-bottom: 20%;
    margin-top: 10%;
    
    
  }
  .sectionAbout{
    height: 140vh;
    margin-top: 20%;
    margin-bottom: -20%;
  }
  .sectionComments{
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 340px) and (min-height: 500px) {
  .contact {
    height: 30vh;
    margin-top: 45%;
  }
  .sectionSkills {
    margin-top: -50%;
    margin-bottom: 220%;
  }
  .sectionTech {
    margin-bottom: 40%;
    margin-top: 10%;
  }
  .sectionAbout{
    height: 125vh;
    margin-bottom: 0%;
    margin-top: 5%;
   
  }
}

@media screen and (min-width: 360px) and (max-width: 500px) and (max-height: 700px) {
  .sectionSkills {
    margin-top: -20%;
    margin-bottom: 180%;
  }
  .sectionTech {
    height: 170%;
    margin-bottom: 5%;
    margin-top: 10%;
  }
  .sectionComments {
    margin-bottom: 5%;
    height: 70vh;
    margin-top: -25%;
  }
  .sectionAbout{
    margin-bottom: 0%;
  }
  .sectionJob {
    height: 15vh;
  }
  .hello {
    font-size: 2.5rem;
  }

  .full {
    font-size: 1.8rem;
    margin-top: -20%;
    -webkit-text-stroke: 0.1px #1e1e5d;
  }
  .sectionName {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    justify-content: center;
    margin-bottom: 3%;
    width: 100%;
  }
  .sectionAbout {
    height: 120vh;
    margin-bottom: 0%;
    margin-top: 0%;
  }
  .rodrigo {
    font-size: 3.5rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
}

@media screen and (min-width: 360px) and (max-width: 500px) and (min-height: 700px) and (max-height: 800px) {
  .sectionSkills {
    margin-top: -20%;
    margin-bottom: 180%;
  }
  .sectionTech {
    height: 170%;
    margin-bottom: 5%;
    margin-top: 10%;
  }
  .sectionComments {
    margin-bottom: 5%;
    height: 70vh;
    margin-top: -35%;
  }
  .sectionAbout{
    margin-bottom: 0%;
  }
  .sectionJob {
    height: 15vh;
  }
  .hello {
    font-size: 2.5rem;
  }

  .full {
    font-size: 1.8rem;
    margin-top: -20%;
    -webkit-text-stroke: 0.1px #1e1e5d;
  }
  .sectionName {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    justify-content: center;
    margin-bottom: 3%;
    width: 100%;
  }
  .sectionAbout {
    height: 120vh;
    margin-bottom: 0%;
    margin-top: 0%;
  }
  .rodrigo {
    font-size: 3.5rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
}
@media screen and (min-width: 1600px) and (max-height: 1300px) {
  .sectionTech {
    height: 170%;
    margin-bottom: 5%;
  }
  .sectionSkills {
    height: 42vh;
    margin-top: -3%;
    margin-bottom: 6%;
  }
  .sectionAbout {
    height: 40vh;
  }
  .sectionComments {
    margin-top: -6%;
  }
  .rodrigo {
    font-size: 16rem;
    margin-top: 1%;
  }
  .hello {
    font-size: 9rem;
  }
  .full {
    font-size: 7rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1600px) and (min-height: 900px) {
  .sectionTech {
    height: 170%;
    margin-bottom: 4%;
  }
}
 */
